@model List<MusicPortal.Models.HomeModels.HomeAudioGenreModel>
@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="songs-section">
        @foreach (var genreModel in Model)
        {
            <div class="Section-Header">
                <h1 class="PopularSongs">Listening History for @genreModel.Genre.GenreName</h1>
                <button>View All</button>
            </div>

            <div class="songs-sectionitem">
                @foreach (var song in genreModel.Songs)
                {
                    <div class="song-element">
                        <img class="song-image" src="@genreModel.ImagePaths.ElementAtOrDefault(genreModel.Songs.ToList().IndexOf(song))" alt="">
                        <h1 class="song-title">@song.Name</h1>
                        @if (song.User != null)
                        {
                            <h2 class="song-writer">@song.User.Login</h2>
                        }
                        else
                        {
                            <h2 class="song-writer">Unknown Writer</h2>
                        }
                        <audio class="audio-player" controls>
                            <source src="@song.Path" type="audio/mp3">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                }
            </div>
        }
    </div>

</section>

<script>
    // Получите все элементы audio
    var audioPlayers = document.querySelectorAll('.audio-player');

    // Добавьте обработчик события для каждого элемента audio
    audioPlayers.forEach(function (player) {
        player.addEventListener('play', function () {
            // Поставьте на паузу все другие аудиоэлементы
            audioPlayers.forEach(function (otherPlayer) {
                if (otherPlayer !== player) {
                    otherPlayer.pause();
                }
            });
        });
    });
</script>